/* If styling is required, add it here. */
body {
	background-color: #111;
	color: #eee;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("/assets/web_background.png");
	background-size: cover;
}

#content {
	position: absolute;
	left: 0px;
	right: 0px;
    margin: auto;
    width: 100%;
	max-width: 400px;
}

#content canvas {
	background-image: url("/assets/background.png");
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px 10px #ffffff49;
}
